<%- include('header'); -%>
  <div class="container blue loginMargin">
      <div class="jumbotron text-center blue">
          <h1>Quickpound</h1>
          <img class="none" src="img/icon.png" alt="">
          <p>Join the conversation <span class="italic">Be the conversation</span></p>
          <p>Login or Signup:</p>
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
      </div>
  </div>

  <img class="indexIcon" src="img/indexIcon.png" alt="">
<%- include('footer'); -%>
